html, body, div, span, applet, object, iframe,
p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body{

}

/* Main layout of Shop master page */
#shop_header{
    background-color:aquamarine;
    width:80%;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    border-color:black;
    border-style:solid;
    border-width:2px;
}
#header_main{
    background-color:azure;
    display:inline;
    margin-left:34%;
    border-color:black;
    border-style:solid;
    border-width:2px;
}
#header_logo{
    background-color:aliceblue;
    display:inline;
    width:33%;
    float:left;
    border-color:black;
    border-style:solid;
    border-width:2px;
}
#navigation{
    width:80%;
    margin-left:auto;
    margin-right:auto;
    border-color:black;
    border-style:solid;
    border-width:2px;
}
h1{
    display:inline;
    color:white;
    padding-top:2%;
    padding-bottom:2%;
    font-family:'Jura', sans-serif;
}
li {
    display:inline;
    float: left;
    margin-bottom:30px;
    margin-left:30px;
}
 
   /* #shop_header
    {
    display:inline;
    float:left;
    width:80%;
    background-color:darkred;
    text-align:center;
}
    #shop_login
    {
    display:inline;
    
    margin-left:2%;
    background-color:darkred;
    height:115px;
    
    text-align:center;
}*/
